{% extends 'base.html' %}
{% block content %}

<section class="py-5 bg-white text-brown">
    <div class="container">
        <h2 class="mb-4">{{ service.name }}</h2>
        <img src="{{ service.icon }}" alt="{{ service.name }}" width="50" height="50" class="mb-3">
        <p class="lead">{{ service.description }}</p>
        <p>{{ service.detailed_description|linebreaks }}</p>
    </div>
    <a href="{% url 'home' %}" class="btn mt-4" style="background-color: #6f4e37; color: white;"> ← Back</a>
</section>
{% endblock %}