{% extends "base.html" %}
{% block title %}Password Reset Complete{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow rounded">
        <div class="card-header bg-brown text-white text-center">
          Password Reset Complete
        </div>
        <div class="card-body text-center">
          <p class="text-muted">
            Your password has been successfully changed. You may now log in with your new password.
          </p>
          <a href="{% url 'login' %}" class="btn btn-brown mt-2">Sign In</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}